<div class="home-page">
  <h1 class="mt-3 ms-3" style="color:white" *ngIf="!token">Login to see more!</h1>
  <div class="wrapper" *ngIf="token">
    <h1 style="color: red; position: relative; z-index: 1000; font-size: 100px;"></h1>



    <!-- lựa chọn sotify -->
    <section>

      <div class="title-list">
        <h2>Lựa chọn của Spotify</h2>
        <a>XEM TẤT CẢ</a>
      </div>

      <div class="row cus-row">

        <div *ngFor="let item of dataPlaylistVn" class="col-xl-2 col-5" [routerLink]="'/playlist/'+ item.id">
          <div class="content" >

            <div class="img-music">
              <img [src]="item.images[0].url" alt="#">
              <div class="icon-playing">
                <button>
                  <svg height="16" role="img" width="16" viewBox="0 0 24 24" aria-hidden="true">
                    <polygon points="21.57 12 5.98 3 5.98 21 21.57 12" fill="currentColor"></polygon>
                  </svg>
                </button>
              </div>
            </div>

            <div class="title-content">
              <h5>{{item.name}}</h5>
              <p>{{item.description}}</p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section>

      <div class="title-list">
        <h2>Gợi Ý Cho Bạn</h2>
        <a>XEM TẤT CẢ</a>
      </div>

      <div class="row cus-row">

        <div *ngFor="let item of dataPlaylistUs" class="col-xl-2 col-5" [routerLink]="'/playlist/'+ item.id">
          <div class="content" >

            <div class="img-music">
              <img [src]="item.images[0].url" alt="#">
              <div class="icon-playing">
                <button>
                  <svg height="16" role="img" width="16" viewBox="0 0 24 24" aria-hidden="true">
                    <polygon points="21.57 12 5.98 3 5.98 21 21.57 12" fill="currentColor"></polygon>
                  </svg>
                </button>
              </div>
            </div>

            <div class="title-content">
              <h5>{{item.name}}</h5>
              <p>{{item.description}}</p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section>

      <div class="title-list">
        <h2>Nên Nghe</h2>
        <a>XEM TẤT CẢ</a>
      </div>

      <div class="row cus-row">

        <div *ngFor="let item of dataPlaylistUk" class="col-xl-2 col-5" [routerLink]="'/playlist/'+ item.id">
          <div class="content" >

            <div class="img-music">
              <img [src]="item.images[0].url" alt="#">
              <div class="icon-playing">
                <button>
                  <svg height="16" role="img" width="16" viewBox="0 0 24 24" aria-hidden="true">
                    <polygon points="21.57 12 5.98 3 5.98 21 21.57 12" fill="currentColor"></polygon>
                  </svg>
                </button>
              </div>
            </div>

            <div class="title-content">
              <h5>{{item.name}}</h5>
              <p>{{item.description}}</p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- bảng xếp hạng -->

  </div>
</div>
